body {
    width: 20rem;
}

.video-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

button {
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

